@media (min-width: 768px) and (max-width: 991px) {
  main {
    display: block;
  }
  /* goal */
  .goal-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* team */
  .team-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  /* scope */
  .scope-content {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  /* primary */
  .primary-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
  }

  /* timeline */
  .timeline-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
