* {
  margin: 0;
  font-family: sans-serif;
}
i {
  font-size: 25px;
}
body {
  background-color: blue;
}
main {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  height: 100%;
  margin: 15px;
}
.title {
  color: blue;
  border-bottom: 1px solid rgb(206, 206, 206);
}

/*goal */
.goal {
  background-color: rgb(242, 254, 255);
  padding: 15px;
}
.goal-content {
  display: grid;
  grid-template-columns: 25% 74%;
  border-bottom: 1px solid rgb(187, 187, 187);
  justify-content: center;
  padding-top: 5px;
}
.icon-flag {
  font-size: 25px;
}

/* scope */
#scope {
  background-color: rgb(242, 254, 255);
  padding: 10px;
}
.scope-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* team */
#team {
  background-color: rgb(242, 254, 255);
  padding: 10px;
}
.team-content {
  display: grid;
  grid-template-columns: 25% 75%;
}
/* Primary */
#primary {
  background-color: rgb(242, 254, 255);
  padding: 10px;
}
.primary-content {
  display: grid;
  grid-template-columns: 20% 80%;
}
/* timeline */
#timeline {
  background-color: rgb(242, 254, 255);
  padding: 10px;
  grid-row: 1 / span 2;
  grid-column: 3;
}
.timeline-content {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
}
.date {
  background-color: rgb(181, 182, 255);
  color: rgb(0, 0, 0);
  justify-self: center;
  align-self: center;
  padding: 10px 13px;
  border: 1px solid black;
  border-radius: 500px;
  font-weight: 300;
}
